## Statistics on login of professors to the virtual campus of the University of Cordoba
___
The following notebook uses descriptive statistics on the login data set of professors by department at the University of Córdoba.

Preparation of the dataset. Encrypting user IDs and removing unnecessary columns.

In [2]:
import pandas as pd
import numpy as np
import hashlib

In [3]:
# Load data
data_csv = pd.read_csv('../priv/data.csv', delimiter=';')

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_17464\2019559305.py:2: DtypeWarning: Columns (1,2,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data_csv = pd.read_csv('../priv/data.csv', delimiter=';')

In [4]:
# Rows and columns
data_csv.shape

(488332, 12)

In [5]:
# Dataset Information 
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488332 entries, 0 to 488331
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            488332 non-null  int64
 1   idnumber      487849 non-null  object
 2   username      488332 non-null  object
 3   firstname     488332 non-null  object
 4   lastname      488332 non-null  object
 5   department    485877 non-null  object
 6   id.1          488332 non-null  int64
 7   eventname     488332 non-null  object
 8   timecreated   488332 non-null  int64
 9   ip            488332 non-null  object
 10  rol           484093 non-null  object
 11  departamento  18501 non-null   object
dtypes: int64(3), object(9)
memory usage: 44.7+ MB

In [6]:
# Create a new column
data_csv['userid'] = data_csv['idnumber']

In [7]:
# Define a function to encrypt data
def generate_hash_sha256(texto):
    """Generates a SHA-256 hash from text.

    Args:
        texto: Text to hashear.

    Returns:
        str: Hash SHA-256 in hexadecimal format.
    """
    return hashlib.sha256(texto.encode('utf-8')).hexdigest()

# Convert int to str data
data_csv['userid'] = data_csv['idnumber'].astype(str)

# Invoke the function to encrypt the data
data_csv['userid'] = data_csv['userid'].apply(generate_hash_sha256)

In [8]:
# Show the results
data_csv[['idnumber', 'userid']]

       idnumber                                             userid
0        100019  1dc132aa79c22b2e6ca16c048f22a33faadc5581ecb152...
1        100019  1dc132aa79c22b2e6ca16c048f22a33faadc5581ecb152...
2        104542  576e91b29686a6ca6eddf8574371b13ed6da7f9e003ea8...
3        100983  22ea3218a34319d0b0ef096953ceceea3ca5033db97fc1...
4        100983  22ea3218a34319d0b0ef096953ceceea3ca5033db97fc1...
...         ...                                                ...
488327    97170  047171d17550324f54c873c6b5045f573893c6b99c1cfd...
488328    97170  047171d17550324f54c873c6b5045f573893c6b99c1cfd...
488329    97351  eb0d645a76e6853af0aca20b36bcdc1cc2bdcecf128632...
488330    97351  eb0d645a76e6853af0aca20b36bcdc1cc2bdcecf128632...
488331    97351  eb0d645a76e6853af0aca20b36bcdc1cc2bdcecf128632...

[488332 rows x 2 columns]

In [9]:
# Removing unnecessary columns 
df = data_csv.drop(['idnumber', 'username', 'firstname', 'lastname', 'id.1', 'eventname', 'ip', 'departamento'], axis=1)

In [10]:
df.head(5)

,id,department,timecreated,rol,userid
0,1511,Adminis. en Finanzas y Negocios Internac,1709571736,student,1dc132aa79c22b2e6ca16c048f22a33faadc5581ecb152...
1,1511,Adminis. en Finanzas y Negocios Internac,1709585220,student,1dc132aa79c22b2e6ca16c048f22a33faadc5581ecb152...
2,1278,NaN,1709596574,student,576e91b29686a6ca6eddf8574371b13ed6da7f9e003ea8...
3,1218,Adminis. en Finanzas y Negocios Internac,1709609403,student,22ea3218a34319d0b0ef096953ceceea3ca5033db97fc1...
4,1218,Adminis. en Finanzas y Negocios Internac,1709618744,student,22ea3218a34319d0b0ef096953ceceea3ca5033db97fc1...

In [11]:
# Filter only teachers
df_teacher = df[ df.rol == 'editingteacher' ]

In [12]:
# Export data
df_teacher.to_csv('user_loggedin_teacher.csv')