# Exploratory Data Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/adiacla/bigdata/master/BIG%20MART%20SALE%20DATASET.csv")

In [6]:
df.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [8]:
df.shape

(8523, 12)

In [16]:
df_copia = df.copy()
df_copia.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [18]:
df_copia.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [19]:
df_copia.iloc[:,-1]

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [20]:
# Muestra del 20% de los datos
df_copia.sample(frac=0.2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3962,DRA59,8.27,Regular,0.127821,Soft Drinks,185.9924,OUT013,1987,High,Tier 3,Supermarket Type1,555.2772
3654,FDZ08,12.50,Regular,0.110215,Fruits and Vegetables,81.8592,OUT045,2002,NaN,Tier 2,Supermarket Type1,1238.3880
5826,FDC08,NaN,Regular,0.102949,Fruits and Vegetables,225.2720,OUT027,1985,Medium,Tier 3,Supermarket Type3,4753.8120
7797,NCR06,12.50,Low Fat,0.006765,Household,41.7112,OUT046,1997,Small,Tier 1,Supermarket Type1,383.5008
4188,FDA52,16.20,Regular,0.128398,Frozen Foods,178.3370,OUT035,2004,Small,Tier 2,Supermarket Type1,1411.4960
...,...,...,...,...,...,...,...,...,...,...,...,...
1151,FDK43,9.80,Low Fat,0.026993,Meat,127.3020,OUT017,2007,NaN,Tier 2,Supermarket Type1,2277.0360
5234,NCE54,20.70,Low Fat,0.026954,Household,73.2354,OUT045,2002,NaN,Tier 2,Supermarket Type1,1504.7080
6215,NCW54,7.50,low fat,0.096413,Household,55.3588,OUT046,1997,Small,Tier 1,Supermarket Type1,1030.6584
4043,FDG35,NaN,Regular,0.012328,Starchy Foods,173.8738,OUT019,1985,Small,Tier 1,Grocery Store,347.5476
1425,FDE59,12.15,Low Fat,0.062640,Starchy Foods,36.6532,OUT017,2007,NaN,Tier 2,Supermarket Type1,251.6724

In [23]:
# 1000 samples aleatorias
df_copia.sample(n=1000)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2790,NCD18,16.000,Low Fat,0.072609,Household,228.3668,OUT013,1987,High,Tier 3,Supermarket Type1,5298.4364
7475,NCC42,15.000,Low Fat,0.044999,Health and Hygiene,140.4838,OUT045,2002,NaN,Tier 2,Supermarket Type1,1685.8056
1297,FDT52,9.695,Regular,0.047698,Frozen Foods,244.6144,OUT017,2007,NaN,Tier 2,Supermarket Type1,2695.1584
556,NCQ43,NaN,Low Fat,0.110763,Others,108.5912,OUT027,1985,Medium,Tier 3,Supermarket Type3,1637.8680
4350,FDN49,17.250,Regular,0.209600,Breakfast,40.3480,OUT010,1998,NaN,Tier 3,Grocery Store,39.9480
...,...,...,...,...,...,...,...,...,...,...,...,...
8276,DRH13,8.575,Low Fat,0.023886,Soft Drinks,106.6280,OUT046,1997,Small,Tier 1,Supermarket Type1,958.7520
351,FDR59,14.500,Regular,0.063993,Breads,260.4594,OUT045,2002,NaN,Tier 2,Supermarket Type1,5494.8474
2874,FDP60,17.350,Low Fat,0.056006,Baking Goods,99.2016,OUT049,1999,Medium,Tier 1,Supermarket Type1,1518.0240
6341,FDY55,NaN,LF,0.000000,Fruits and Vegetables,258.3988,OUT019,1985,Small,Tier 1,Grocery Store,256.9988
1452,DRI25,19.600,Low Fat,0.033901,Soft Drinks,56.2614,OUT046,1997,Small,Tier 1,Supermarket Type1,773.6596

In [25]:
# Ventas totales
df_copia.Item_Outlet_Sales.sum()

np.float64(18591125.4104)

In [26]:
# Tamaño de Outlet_Size
len(df_copia.Outlet_Size)

8523

In [27]:
# Cuneta no nulos de Outlet_Size
df_copia.Outlet_Size.count()

np.int64(6113)

In [31]:
# Contar nulos
df_copia.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [32]:
df_copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [33]:
df_copia.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [34]:
# Pasar a mayusculas
df_copia.Item_Fat_Content = df_copia.Item_Fat_Content.str.upper()

In [35]:
df_copia.Item_Fat_Content.unique()

array(['LOW FAT', 'REGULAR', 'LF', 'REG'], dtype=object)

In [36]:
# Remplazar datos ne una columna
df_copia.Item_Fat_Content = df_copia.Item_Fat_Content.replace(['LF', 'REG'], ['LOW FAT', 'REGULAR'])

In [37]:
df_copia.Item_Fat_Content.unique()

array(['LOW FAT', 'REGULAR'], dtype=object)

In [39]:
# Mostrar cuantos valores hay por registro
# pd.value_counts(df_copia.Item_Fat_Content)
pd.Series(df_copia.Item_Fat_Content).value_counts()

Item_Fat_Content
LOW FAT    5517
REGULAR    3006
Name: count, dtype: int64

In [40]:
df_copia.to_excel("df_copia.xlsx", "datos")

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_48036\2628163175.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_copia.to_excel("df_copia.xlsx", "datos")

In [41]:
# Total de ventas por contenido de grasa
df_copia.groupby(["Item_Fat_Content"]).sum().Item_Outlet_Sales

Item_Fat_Content
LOW FAT    1.190409e+07
REGULAR    6.687031e+06
Name: Item_Outlet_Sales, dtype: float64

In [42]:
# Valores únicos por columna
df_copia.Item_Type.unique()

array(['Dairy ', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods ', 'Snack Foods', 'Frozen Foods',
       'Dairy', 'Breakfast', 'Health and Hygiene', 'Hard Drinks',
       'Baking Goods', 'Canned', 'Breads', 'Starchy Foods', 'Others',
       'Seafood'], dtype=object)